n8n/SECOP_API.json
{
  "name": "SECOP API",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "46b07562-03cb-4433-b1e1-cac0291dac29",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        620,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### C칩mo usar la API\n1. Ejecutar el workflow para que el webhook empiece a escuchar\n2. Hacer un test request pegando, **en una nueva pesta침a del explorador**, la URL test desde el nodo `Webhook` y agregando el sguiente test al final `?proceso=crear&contrato=1`\n\nRecibir치 la siguiente respuesta en la nueva pesta침a `el proceso \"crear\" ha sido realizado`\n\n",
        "height": 221,
        "width": 600
      },
      "id": "204f2cf0-2e6e-4fd7-adf3-d53add65e4a5",
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        40,
        200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query.proceso }}",
                    "rightValue": "crear",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "crear"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2bbc88cf-a907-47bb-bdbc-a158b49ac3a8",
                    "leftValue": "={{ $json.query.proceso }}",
                    "rightValue": "ejecutar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ejecutar"
            }
          ]
        },
        "options": {}
      },
      "id": "931930a8-c678-48d5-8353-4b2277c70346",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        220,
        460
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TtAA1FtFUh6UQqWC",
          "mode": "list",
          "cachedResultName": "SECOP Crear"
        },
        "options": {}
      },
      "id": "2ba4bc96-97f8-422f-a4f6-dd33e4c3ceb9",
      "name": "Execute Workflow crear",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        420,
        460
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "8OK1aWgz5Fds2BBV",
          "mode": "list",
          "cachedResultName": "SECOP Ejecutar"
        },
        "options": {}
      },
      "id": "d87bebb2-046d-4a5b-ae5a-98e79a0e9435",
      "name": "Execute Workflow ejecutar",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        420,
        640
      ]
    },
    {
      "parameters": {
        "path": "robot-secop",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d9fca6e6-c637-4c35-9ffa-fb0d5be68b2a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        20,
        460
      ],
      "webhookId": "6f7b288e-1efe-4504-a6fd-660931327269",
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Execute Workflow crear",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow ejecutar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow crear": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow ejecutar": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ecc89e76-2e97-4628-9413-ce07aecff3d7",
  "meta": {
    "instanceId": "53ec9d548d8552c78664c460ff591d05f5983628209982c2b147e0b48c4a6d5d"
  },
  "id": "lh3loINPMnsOVvHo",
  "tags": []
}